*{
	box-sizing: border-box;
}

h1
{
	text-align: center;
}


#chicken
{
	border:1px;
	background-color:#ff8080;
	position: absolute;
	text-align: center;
}
.chicken
{
background-color: gray;
border: 2px;
padding:5px;
}
#beef
{
	border:1px;
	background-color:#ff1a1a;
	position: absolute;
	text-align: center;
}
.beef{
background-color: gray;
border: 2px;
padding:5px;
}
#sushi
{
	border:1px;
	background-color:#ffd9b3;
	position: absolute;
	text-align: center;
}
.sushi
{
background-color: gray;
border: 2px;
padding:5px;
}



@media(min-width: 992px)
{
	.col-md-4{
		float:left;
		width: 33%
	}
}

@media(min-width:768px) and (max-width: 991px)
{
	.col-sm-6{
		float:left;
		width:50%;
	}
	.col-sm-12{
		float:left;
		width:100%;
	}
}

@media(max-width: 767px )
{
	.col-xs-12{
		float:left;
		width:100%;
	}
}